<!DOCTYPE html>
<html>
    <head>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
        <title>Medical</title>
    </head>
    <body> 
        <h1>Welcome <%= accountData.firstName %> to this Medical Office!</h1>
        <br>

        <%- include('partials/nav2.ejs') %> 
        <br>
    </body>
</html>